# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# ========================
# Django
# ========================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/

# ========================
# Virtual Environment
# ========================
venv/
env/
ENV/
.venv/
.env

# ========================
# IDE - IntelliJ / PyCharm
# ========================
.idea/

.idea/*


*/.idea/
*/.idea/*

**/.idea/
**/.idea/*
*.iml
*.iws
*.ipr
out/

# ========================
# VS Code
# ========================
.vscode/

# ========================
# Postman
# ========================
.postman/
postman/

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db
desktop.ini

# ========================
# Node / Frontend
# ========================
node_modules/
npm-debug.log*
yarn-error.log*
.next/
dist/